
        * {
            margin: 0;
            padding: 0;
            transition: .4s all ease-in-out;
            text-decoration: none;
            list-style: none;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: linear-gradient(#335847, #d9e89d);
            background: linear-gradient(#a26c6c, #9292af);
            background: linear-gradient(rgb(191, 137, 104), #da9966);
        }

        nav {
            display: inline-block;
            height: 100vh;
            float: left;
            box-shadow: -2px -2px 16px 1px #442121
        }

        nav #anchor-container {
            margin-top: 20px;
        }

        nav #anchor-container a {
            font-size: 35px;
            padding: 20px;
            cursor: pointer;
            font-size: 27px;
            white-space: nowrap;
            color: mintcream;
            display: block;
        }

        main {
            height: 100%;
            display: block;
            overflow-y: scroll;
        }

        main #main-blackoverlay {
            background: rgba(0, 0, 0, 0.24);
            display: table;
        }

        main section {
            background: white;
            margin: 5%;
            border-radius: 20px;
            box-shadow: 1px 1px 15px 5px rgba(247, 232, 157, 0.24);
        }

        main #aboutme-section {
            background: linear-gradient(#10151f, black);
        }

        main #aboutme-section h1 {
            color: aliceblue;
        }

        main #aboutme-section p {
            padding-bottom: 40px;
            color: #d4d4d4;
            color: #c0cbd4;
        }

        main #aboutme-section strong {
            font-style: italic;
            font-size: 1.1em;
            color: #ecb266;
        }

        main #skills-section {
            color: white;
            background: url('http://i.imgur.com/B7XOMdy.jpg');
            background: url("http://i.imgur.com/VN7FTy1.jpg");
            background: url(http://i.imgur.com/HA2NbwG.jpg), black;
            background-position: bottom;
            background-size: cover;
        }

        main #skills-section #skills-blackoverlay {
            background: rgba(0, 0, 0, 0.5);
            border-radius: inherit;
            padding-bottom: 45px;
        }

        main section h1,
        h2,
        p,
        ul,
        li {
            text-align: center;
            padding: 20px;
        }

        main section h1 {
            font-size: 45px;
        }

        main section h2 {
            font-size: 40px;
        }

        main section p {
            font-size: 27px;
        }

        main section ul {
            text-align: center;
        }

        main section li {
            font-size: 30px;
            border: 1px solid rgba(0, 0, 0, 0.16);
            display: inline;
        }

        #dev-skills {
            color: black;
        }

        #skills-html {
            background: rgb(153, 188, 255);
        }

        #skills-css {
            background: #ffadad;
        }

        #skills-javascript {
            background: #ffff8a;
        }

        #skills-nodejs {
            background: #96ff96;
        }

        #skills-mongodb {
            background: #34da34;
        }

        #skills-git {
            background: #c3adad;
        }

        #skills-github {
            background: white;
        }

        #other-skills {
            padding-top: 0;
        }

        #other-skills li {
            display: block;
            font-size: 28px;
            background: rgba(0, 0, 0, 0.04);
            width: 80%;
            margin: 0 auto;
            background: #313131;
            border: 1px solid rgb(128, 128, 128);
            color: #e6e6e6;
        }

        #other-skills li strong {
            color: white;
            color: #06dbff;
        }

        #dev-skills-ul2 {
            margin: 20px;
        }

        #projects-section {
            display: grid;
        }

        #projects-container {
            padding: 0 50px;
            padding-bottom: 45px;
            font-size: 0;
        }

        #projects-container .project {
            display: inline-block;
            background: red;
            height: 250px;
            width: 30%;
            margin: 1.6666666666666667%;
            box-sizing: border-box;
            border-radius: 20px;
            box-shadow: -3px 3px 8px 1px #63544b;
            float: left;
        }

        #projects-container .project .project-overlay {
            background: rgba(0, 0, 0, 0.3);
            color: white;
            height: 100%;
            width: 100%;
            opacity: 0;
            font-size: 27px;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: inherit;
        }

        #projects-container .project .project-overlay:hover {
            opacity: 1;
        }

        #projects-container #project-todoapp {
            background: url('http://i.imgur.com/BldbIit.jpg');
            background-position: center;
            background-size: cover;
        }

        #projects-container #project-imgscroller {
            background: url('http://i.imgur.com/PquaBXz.jpg');
            background-size: cover;
        }

        #contact-section p {
            padding-bottom: 0;
        }

        #contact-section h2 {
            padding-top: 0;
        }